<div class="results-inline">
    <%= render "/layouts/messages"%>
</div>
<% if @collection %>
    <% @collection.documents.each do |document| %>
    <div class="card card-header mt-4 results-inline">
        <span class="title"><strong>Title: </strong> <%= document.title %></span>
        <span class="description"><strong>Description: </strong> <%= document.description %></span>
        <span class="source"><strong>Source: </strong> <%= document.source %></span>
        <span class="image"><img src="https://dp.la/thumb/<%= document.id %>"</span>
    </div>
    <% end %>
<% end %>