<tr>
    <td ><img class="img-fluid img-thumbnail" src="https://dp.la/thumb/<%= digital_object.object %>"/></td>
    <td ><%= digital_object.title %></td>
    <td ><%= digital_object.dataProvider %></td>
    <td ><%= digital_object.description %></td>
    <td ><%= time_ago_in_words(digital_object.updated_at) %> ago</td>
    <td ><%= digital_object.exhibit_digital_objects.where(exhibit_id: @exhibit).first.content  %></td>
    <!--
    <td ><%= link_to 'Update', user_digital_object_path(object_id: digital_object.object, id: digital_object.id), method: :put, 
        class: 'btn btn-sm btn-info mb-2' %>
    <%= link_to 'Remove', user_digital_object_path(digital_object), method: :delete, data: {confirm: "Are you sure?"},
        class: 'btn btn-sm btn-warning' %></td>-->
</tr>