  <div class='nested-fields mt-2 mb-2 card px-4 py-4'>
    <%= f.collection_select(:digital_object_id, @digital_objects, :id, :title, { prompt: "Press shift to select multiple options" }, {class: "form-select shadow rounded mb-4" } ) %>
    <script>
      digital_object_json = {
        <% @digital_objects.each do |obj|%>
            <%= obj.id %> : {
              "title": "<%= obj.title %>",
              "description": "<%= obj.description %>",
              "img_id": "<%= obj.object %>",
              "source": "<%= obj.dataProvider %>"
          }, 
        <% end %>
      };
      $("#digital_objects").trigger("new_object");
    </script>

    <div class="field">
      <%= f.label :content, "Exhibit Note", class: "form-label mt-4" %>
      <%= f.rich_text_area :content, class: "form-control" %>
    </div>
      <%= f.hidden_field :object_order, class: "object-order" %>
    <%= link_to_remove_association "Remove object", f, class: "btn btn-outline-danger mt-2" %>
  </div>