  <div class='nested-fields mt-2 mb-2 card px-4 py-4'>
    <%= f.collection_select(:digital_object_id, @digital_objects, :id, :title, { prompt: "Press shift to select multiple options" }, { size: 10, class: "form-select shadow rounded" } ) %>
    <div style="display:none;" id="select-data">
      <% @digital_objects.each do |obj|%>
        <option id="obj-<%= obj.id %>" value="<%= obj.object %>"><%= obj.title %> - <%= obj.description if obj.description %></option>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :note, "Exhibit Note", class: "form-label mt-4" %>
      <%= f.text_area :note, class: "form-control" %>
    </div>
      <%= f.hidden_field :object_order, class: "object-order" %>
    <%= link_to_remove_association "Remove object", f, class: "btn btn-outline-danger mt-2" %>
  </div>